<!--<div class="container">
    <div class="form-container">
        <h1>Welcome to Lincoln Financial Group's Cloud Migration Assistant Tool</h1>
        <img class="img-responsive" src="assets/logo.png">
        <p>
            Cloud Migration Assistant will streamline the way your team migrates their on-premise applications to AWS Cloud!
        </p>

        <button mat-raised-button color="primary"
            class="btn btn-primary" type="submit" (click)="login()">Login</button><br>
            <button mat-raised-button color="accent"
            class="btn btn-primary" type="submit" (click)="register()">Register</button>
    </div>
</div>
-->

<div class="min-h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('assets/Background-imgs/burgundy-bg.jpg'); 
    background-size: cover; backdrop-filter: blur(5px);">
    <div class="text-center text-white ">
      <p class="text-9xl font-extrabold mb-4">Welcome to Cloud Migration</p>
      <p class="text-9xl font-extrabold mb-4">Assistance</p>
      <p class="text-2xl font-medium mb-8">Streamline and simplify your transition to AWS Cloud with ease.</p>
      <div class="flex justify-center mt-8 space-x-4">
        <button class="bg-red-900 hover:bg-red-700 text-white px-6 py-3 rounded-lg text-lg font-semibold focus:outline-none focus:ring-2 
            focus:ring-offset-2 focus:ring-blue-400 transition duration-300 ease-in-out" type="submit" (click)="login()">Login</button>

        <button class="bg-red-900 hover:bg-red-700 text-white px-6 py-3 rounded-lg text-lg font-semibold focus:outline-none focus:ring-2 
            focus:ring-offset-2 focus:ring-purple-400 transition duration-300 ease-in-out" type="submit" (click)="register()">Register</button>
    </div>

 
    </div>
  </div>
  
  






